<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{fragment/head :: head}">
</head>
<body class="bg-shallow_dark">

<!--Navbar-->
<nav th:replace="~{fragment/navbar :: navbar}"></nav>

<!--Navbar Ends-->
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 card p-4">
            <p class="text-primary text-center my-2 d-flex justify-content-center align-items-center">
                <i data-feather="user"></i> <span class="fs-4 ms-2">Create an Account</span>
            </p>
            <form method="post" th:action="@{/register}" th:object="${dto}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <div class="input-group">
                        <span class="input-group-text"><i data-feather="user"></i></span>
                        <input type="text" class="form-control" id="name" name="name" th:value="*{name}" required/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <div class="input-group">
                        <span class="input-group-text"><i data-feather="mail"></i></span>
                        <input type="email" class="form-control" id="username" name="username" th:value="*{username}"
                               required/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group">
                        <span class="input-group-text"><i data-feather="key"></i></span>
                        <input type="password" class="form-control" id="password" name="password" th:value="*{password}"
                               required/>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="initialBalance" class="form-label">Initial Balance</label>
                    <div class="input-group">
                        <span class="input-group-text"><i data-feather="dollar-sign"></i></span>
                        <input type="number" class="form-control" id="initialBalance" name="initialBalance"
                               th:field="*{balance}"
                               required/>
                    </div>
                </div>
                <div>
                    <button class="btn btn-primary" type="submit">Register</button>
                    <button class="btn btn-danger" type="reset">Clean</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>