<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Stock Market</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script>
    let stompClient = null;

    function connect() {
      let socket = new SockJS('/ws-stock');
      stompClient = Stomp.over(socket);
      stompClient.connect({}, function () {
        stompClient.subscribe('/topic/stocks', function (message) {
          let stocks = JSON.parse(message.body);
          updateStockTable(stocks);
        });
      });
    }

    function updateStockTable(stocks) {
      let table = document.getElementById("stockTable");
      table.innerHTML = "";
      stocks.forEach(stock => {
        let row = table.insertRow();
        row.insertCell(0).innerText = stock.id;
        row.insertCell(1).innerText = stock.name;
        row.insertCell(2).innerText = stock.symbol;
        row.insertCell(3).innerText = stock.price.toFixed(2);
        row.insertCell(4).innerText = stock.change.toFixed(2) + "%";
      });
    }

    window.onload = connect;
  </script>
</head>
<body>
<h2>Stock Market</h2>
<table border="1">
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Symbol</th>
    <th>Price</th>
    <th>Change (%)</th>
  </tr>
  </thead>
  <tbody id="stockTable">
  <!-- Stocks will be added dynamically -->
  </tbody>
</table>
</body>
</html>
